<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Payment Done</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
</head>
<body style="background-color: aliceblue;">

<div class="textcenter" style="text-align: center;">
<h1 style="background-color: aquamarine;">Payment is Successful </h1>
<h2 style="background-color: aqua;">Thank You For Shopping in Our Store, Please Call again!!</h2>
</div>
</body>
</html>